
<%- include('../layout/ui-header.ejs') %>
 <!-- section start -->
    <div class="breadcumb-wrapper ">
        <div class="parallax" data-parallax-image="assets/img/breadcurmb/breadcurmb-1-1.jpg"></div>
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">About Us</h1>
                <div class="breadcumb-menu-wrap">
                    <i class="far fa-home-lg"></i>
                    <ul class="breadcumb-menu">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
    About Area
    ==============================-->
    <section class="vs-about-wrapper space">
        <div class="container">
            <div class="row flex-row-reverse align-items-center">
                <div class="col-lg-6 mb-40 mb-lg-0">
                    <div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/JjARsrG1GQQ?si=8OwY3jfBT3b0_AsY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-content mb-2 ">
                        <span class="sec-subtitle text-theme h3 mb-2 mb-sm-0">How CHRM portal works ?</span>
                        <p class="pt-2">Know All About Our Best Cardiologist & Heart Specialist CHRM System.<br>
                            Cardiac Second Opinion is a website which has been designed specifically for those who are seeking for
                            the second
                            opinion after being advised an intervention which they are not sure of. In India, after visiting a heart
                            doctor or
                            surgeon, he likely gets a different opinion which makes him confused about which treatment he should go
                            for. To fill
                            this vacuum, Cardiac Second Opinion is designed by making use of algorithms based on American Heart
                            Association and
                            European Cardiological Society which have made guidelines which dictate the treatment as per the disease
                            and not the
                            doctor. Cardiac Second Opinion has a full team comprising Specialist Interventional Cardiologists,
                            Cardiac Surgeons,
                            Bariatric Cardiologists, Electrophysiologists, and Non-Interventional Cardiologists (for treatment with
                            medicines only)
                            on its panel.</p>
                        <a href="/about" class="vs-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="pb-30 pb-lg-0">
        <div class="parallax" data-parallax-image="/assets/img/bg/bg-8.jpg"></div>
        <!--==============================
    Skill Area
    ==============================-->
        <section class="vs-skill-wrapper  ">
            <div class="container">
                <div class="skill-wrap1 bg-white">
                    <div class="row justify-content-center justify-content-lg-between">
                        <div class="col-md-6 col-lg-auto  mb-30">
                            <div class="d-xl-flex text-center text-xl-start skill-box">
                                <span class="ripple-icon hover-style2  align-self-start mb-20 mb-xl-0 mr-20"><i
                                        class="flaticon-discuss"></i></span>
                                <div class="media-body">
                                    <h2 class="mt-n2 mb-0 text-theme">30+</h2>
                                    <p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Years Of Experience
                                    </p>
                                    <p class="fs-xs mb-0">Incubate extensive scenarios without top-line quality vectors.
                                        Authoritatively engage</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-auto  mb-30">
                            <div class="d-xl-flex text-center text-xl-start skill-box">
                                <span class="ripple-icon  hover-style2 align-self-start mb-20 mb-xl-0 mr-20"><i
                                        class="flaticon-medical-equipment"></i></span>
                                <div class="media-body">
                                    <h2 class="mt-n2 mb-0 text-theme">100+</h2>
                                    <p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Experienced Doctor's
                                    </p>
                                    <p class="fs-xs mb-0">Incubate extensive scenarios without top-line quality vectors.
                                        Authoritatively engage</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-auto  mb-30">
                            <div class="d-xl-flex text-center text-xl-start skill-box">
                                <span class="ripple-icon  hover-style2 align-self-start mb-20 mb-xl-0 mr-20"><i
                                        class="flaticon-healthcare"></i></span>
                                <div class="media-body">
                                    <h2 class="mt-n2 mb-0 text-theme">200+</h2>
                                    <p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Happy Patients</p>
                                    <p class="fs-xs mb-0">Incubate extensive scenarios without top-line quality vectors.
                                        Authoritatively engage</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==============================
    Accordion Area
    ==============================-->
        <section class="vs-accordion-wrapper space-top space-md-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 mb-30 mb-xl-0">
                        <div class="about-content">
                            <span class="h3 text-theme sec-subtitle mb-2 mb-md-0">7 Star Care & Protection</span>
                            <h2 class="h1">Why Choose Us?</h2>
                            <p class="pe-xl-2 text-title">Proactively revolutionize granular customer service after
                                pandemic internal or "organic" sources. Distinctively impact proactive human capital
                                rather than client-centered benefits. </p>
                            <div class="row pt-3">
                                <div class="col-sm-6 col-lg-5 col-xl-6">
                                    <div class="d-flex mb-25">
                                        <span class="text-theme mr-20"><i
                                                class="flaticon-security fa-3x lh-1"></i></span>
                                        <div class="media-body">
                                            <h3 class="h5 mb-2 pb-1">100% Safe & Trused</h3>
                                            <p class="mb-0 fs-xs">Professional web-readiness via ubiquitous human
                                                capital.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-5 col-xl-6">
                                    <div class="d-flex mb-25">
                                        <span class="text-theme mr-20"><i
                                                class="flaticon-computer-mouse fa-3x lh-1"></i></span>
                                        <div class="media-body">
                                            <h3 class="h5 mb-2 pb-1">Specialist Surgery </h3>
                                            <p class="mb-0 fs-xs">Professional web-readiness via ubiquitous human
                                                capital.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-5 col-xl-6">
                                    <div class="d-flex mb-25">
                                        <span class="text-theme mr-20"><i
                                                class="flaticon-healthcare fa-3x lh-1"></i></span>
                                        <div class="media-body">
                                            <h3 class="h5 mb-2 pb-1">24/7 take care staff</h3>
                                            <p class="mb-0 fs-xs">Professional web-readiness via ubiquitous human
                                                capital.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-5 col-xl-6">
                                    <div class="d-flex mb-25">
                                        <span class="text-theme mr-20"><i
                                                class="flaticon-laboratory-equipment fa-3x lh-1"></i></span>
                                        <div class="media-body">
                                            <h3 class="h5 mb-2 pb-1">Medicine service</h3>
                                            <p class="mb-0 fs-xs">Professional web-readiness via ubiquitous human
                                                capital.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="vs-accordion accordion accordion-style2" id="vsaccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        Uniquely optimize reliable models before wireless results ofessionally impact
                                        progressive core.
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse show"
                                    data-bs-parent="#vsaccordion">
                                    <div class="accordion-body">
                                        <p>Professionally impact distributed data via value-added experiences. Proacti
                                            incentivize 24/365 applications whereas turnkey total linkage. whiteboard
                                            multifunctional channels with interoperable value.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        Lorem ipsum is placeholder text commonly used in the graphic, print, and
                                        publishing industries for
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#vsaccordion">
                                    <div class="accordion-body">
                                        <p>Professionally impact distributed data via value-added experiences. Proacti
                                            incentivize 24/365 applications whereas turnkey total linkage. whiteboard
                                            multifunctional channels with interoperable value.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        From its medieval origins to the digital era, learn everything there is to know
                                        about the ubiquitous
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#vsaccordion">
                                    <div class="accordion-body">
                                        <p>Professionally impact distributed data via value-added experiences. Proacti
                                            incentivize 24/365 applications whereas turnkey total linkage. whiteboard
                                            multifunctional channels with interoperable value.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--==============================
    Team Area
    ==============================-->
    <section class="vs-team-wrapper space-top space-md-bottom">
        <div class="container">
            <div class="row  text-center justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title">
                        <div class="sec-icon">
                            <i class="flaticon-ecg"></i>
                        </div>
                        <h2 class="h1 ">Our Patient Says</h2>
                        <p>Proactively revolutionize granular customer service after pandemic internal or "organic"
                            sources istinctively impact proactive human</p>
                    </div>
                </div>
            </div>
            <div class="row vs-carousel wow fadeIn" data-wow-delay="0.3s" data-arrows="true" data-slide-show="3"
                data-lg-slide-show="2">
            <% teams.forEach((team)=> { %>
                <div class="col-xl-4 mb-30">
                    <div class="team-card">
                        <div class="team-head">
                            <!-- Dynamically set the image source -->
                            <img style="max-height: 400px;min-height: 400px;" src="/uploads/<%= team.teamImage %>" alt="<%= team.name %>" class="w-100 object_cover">
                        </div>
                        <div class="team-body pt-3">
                            <!-- Dynamically set the team member's name -->
                            <h3 class="h4 mb-0"><a href="team-details/<%= team._id %>" class="text-reset">
                                    <%= team.name %>
                                </a></h3>
                            <!-- Dynamically set the specialization -->
                            <p class="fs-xs degi text-theme mt-1">
                                <%= team.specList %>
                            </p>
                            <!-- Dynamically set the read more link -->
                            <a href="team-details/<%= team._id %>">Read More</a>
                        </div>
                    </div>
                </div>
                <% }); %>
                          
            </div>
            <div class="d-flex justify-content-center">
                <a style="background-color: aqua;" href="/teams"
                    class="px-3 py-2 text-white d-flex justify-content-center rounded-2">See All</a>
            </div>
        </div>
    </section>

    <!--==============================
    Blog Area
    ==============================-->
    <section class="vs-blog-wrapper space-md-bottom space-top">
        <div class="container">
            <div class="row  text-center justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title">
                        <div class="sec-icon">
                            <i class="flaticon-ecg"></i>
                        </div>
                        <h2 class="h1 ">Latest Posts</h2>
                        <p>Proactively revolutionize granular customer service after pandemic internal or "organic"
                            sources istinctively impact proactive human</p>
                    </div>
                </div>
            </div>
            <div class="row vs-carousel wow fadeIn" data-wow-delay="0.3s" data-slide-show="3" data-lg-slide-show="2">
            <% blogs.slice(0, 3).forEach(blog=> { %>
                <div class="col-xl-4">
                    <div class="vs-blog blog-card">
                        <div class="blog-img">
                            <img style="max-height: 350px;min-height: 350px;object-fit: cover; background-position: top;"
                                src="/uploads/<%= blog.blogImage %>" alt="Blog Image" class="w-100">
                            <div class="blog-date">
                                <%= new Date(blog.createdAt).toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                                    day: 'numeric' }) %>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h3 class="blog-title h5 font-body lh-base">
                                <a href="/blog-details/<%= blog.id %>">
                                    <%= blog.heading %>
                                </a>
                            </h3>
                            <a href="/blog-details/<%= blog.id %>" class="link-btn">Read More<i
                                    class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </section>
    <!--==============================
    Brand Area
    ==============================-->
    <div class="vs-brand-wrapper space-md bg-light">
        <div class="container">
            <div class="wow fadeInUp" data-wow-delay="0.3s">
                <div class="row vs-carousel text-center" data-slide-show="5" data-lg-slide-show="4"
                    data-md-slide-show="3" data-sm-slide-show="3" data-xs-slide-show="1">
                    <div class="col-auto">
                        <div class="brand">
                            <img src="assets/img/brand/brand-1-1.svg" alt="Brand Image">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="brand">
                            <img src="assets/img/brand/brand-1-2.svg" alt="Brand Image">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="brand">
                            <img src="assets/img/brand/brand-1-3.svg" alt="Brand Image">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="brand">
                            <img src="assets/img/brand/brand-1-4.svg" alt="Brand Image">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="brand">
                            <img src="assets/img/brand/brand-1-5.svg" alt="Brand Image">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="brand">
                            <img src="assets/img/brand/brand-1-6.svg" alt="Brand Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
			Footer Area
	==============================-->
    <%- include('../layout/ui-footer.ejs') %>