<%- include('../layout/ui-header.ejs') %>

    <!--==============================
      Hero Area
    ==============================-->
    <section class="vs-hero-wrapper position-relative  ">
        <div class="vs-hero-carousel" data-navprevnext="true" data-height="800" data-container="1900"
            data-slidertype="responsive">
            <% sliders.forEach(slider=> { %>
                <div class="ls-slide" data-ls="duration: 13000; transition2d: 5;">
                    <img src="/uploads/<%= slider.sliderImage %>" alt="Hero Image" class="ls-bg">
                    <h1 class="text-title ls-l ls-responsive" data-ls-mobile="left: 100px; top: 120px; font-size: 120px;"
                        data-ls-tablet="left: 100px; top: 80px; font-size: 92px;"
                        data-ls-laptop="left: 100px; top: 120px; font-size: 82px;"
                        style="left: 335px; top: 208px; font-size: 72px; font-weight: 700;"
                        data-ls="delayin: 600; easingin: easeInOutSine; texttransitionin: true; textstartatin: transitioninstart; textdurationin: 2000; texttypein: words_asc; textshiftin: 200; textoffsetyin: -100; offsetyout: -100; durationout: 2000;">
                        <%= slider.title %>
                    </h1>
            
                    <p class="ls-l text-white ls-responsive ls-hide-sm" data-ls-mobile="left: 100px;"
                        data-ls-tablet="left: 100px; top: 360px; font-size: 34px; width: 1000px; line-height: 52px;"
                        data-ls-laptop="left: 100px; top: 380px; font-size: 26px; width: 800px; line-height: 48px;"
                        style="left: 335px; top: 400px; width: 605px; font-size: 16px; font-weight: 400; white-space: normal; letter-spacing: 0.02em; line-height: 28px;"
                        data-ls="delayin: 800; texttransitionin: true; textstartatin: transitioninstart; texttypein: lines_asc; textshiftin: 100; textoffsetyin: 100; textdurationin: 2000; offsetyout: 100; durationout: 2000;">
                        <%= slider.description %>
                    </p>
            
                    <div class="ls-btn ls-l ls-responsive" data-ls-mobile="left: 100px;" data-ls-tablet="left: 100px; top: 580px;"
                        data-ls-laptop="left: 100px; top: 580px;" style="left: 335px; top: 518px;"
                        data-ls="offsetyin: 200; durationin: 2000; delayin: 1400; offsetyout: 300; durationout: 2000; offsetyout: 100; durationout: 2000;">
                        <a href="/contact" class="vs-btn style3 hover-white">View All Services<i class="fas fa-bolt"></i></a>
                    </div>
                </div>
                <% }); %>
        </div>
    </section>
    <!--==============================
    About Area
    ==============================-->
    <section class="vs-about-wrapper space">
        <div class="parallax" data-parallax-image="assets/img/bg/bg-7.jpg"></div>
        <div class="container">
            <div class="row flex-row-reverse align-items-center">
                <div class="col-lg-6 mb-40 mb-lg-0">
                    <div>
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/JjARsrG1GQQ?si=8OwY3jfBT3b0_AsY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-content mb-2 ">
                        <span class="sec-subtitle text-theme h3 mb-2 mb-sm-0">How CHRM portal works ?</span>
                        <p class="pt-2">Know All About Our Best Cardiologist & Heart Specialist CHRM System.<br>
                            Cardiac Second Opinion is a website which has been designed specifically for those who are
                            seeking for the second
                            opinion after being advised an intervention which they are not sure of. In India, after
                            visiting a heart doctor or
                            surgeon, he likely gets a different opinion which makes him confused about which treatment
                            he should go for. To fill
                            this vacuum, Cardiac Second Opinion is designed by making use of algorithms based on
                            American Heart Association and
                            European Cardiological Society which have made guidelines which dictate the treatment as per
                            the disease and not the
                            doctor. Cardiac Second Opinion has a full team comprising Specialist Interventional
                            Cardiologists, Cardiac Surgeons,
                            Bariatric Cardiologists, Electrophysiologists, and Non-Interventional Cardiologists (for
                            treatment with medicines only)
                            on its panel.</p>
                        <a href="about.html" class="vs-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    Service Area
    ==============================-->
    <section class="vs-service-wrapper space-top space-md-bottom">
        <div class="container">
            <div class="row  text-center justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title">
                        <h2 class="h1 ">Our Services</h2>
                        <p>Proactively revolutionize granular customer service after pandemic internal or "organic"
                            sources proactive human capital rather.</p>
                    </div>
                </div>
            </div>
            <div class="row vs-carousel wow fadeIn" data-wow-delay="0.3s" data-slide-show="3">
                <% services.slice(0, 3).forEach(service=> { %>
                    <div class="col-xl-4 mb-25">
                        <div class="service-box">
                            <div class="sr-img">
                                <!-- Dynamically render service image -->
                                <img src="/uploads/<%= service.image %>" alt="<%= service.name || 'Service Image' %>"
                                    class="w-100">
                            </div>
                            <div class="sr-icon">
                                <i class="flaticon-computer-mouse"></i>
                            </div>
                            <div class="sr-content">
                                <!-- Dynamically render service name and link -->
                                <h3 class="h4">
                                    <a class="text-reset" href="/service-details/<%= service.id %>">
                                        <%= service.name %>
                                    </a>
                                </h3>
                            </div>
                            <a href="/service-details/<%= service.id %>" class="icon-btn style4">
                                <i class="far fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
    </section>
    <!--==============================
    Skill Area
    ==============================-->
    <section class="vs-skill-wrapper  ">
        <div class="container">
            <div class="skill-wrap1 bg-white">
                <div class="row justify-content-center justify-content-lg-between">
                    <div class="col-md-6 col-lg-auto  mb-30">
                        <div class="d-xl-flex text-center text-xl-start skill-box">
                            <span class="ripple-icon hover-style2  align-self-start mb-20 mb-xl-0 mr-20"><i
                                    class="flaticon-discuss"></i></span>
                            <div class="media-body">
                                <h2 class="mt-n2 mb-0 text-theme">30+</h2>
                                <p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Years Of Experience</p>
                                <p class="fs-xs mb-0">Incubate extensive scenarios without top-line quality vectors.
                                    Authoritatively engage</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-auto  mb-30">
                        <div class="d-xl-flex text-center text-xl-start skill-box">
                            <span class="ripple-icon  hover-style2 align-self-start mb-20 mb-xl-0 mr-20"><i
                                    class="flaticon-medical-equipment"></i></span>
                            <div class="media-body">
                                <h2 class="mt-n2 mb-0 text-theme">100+</h2>
                                <p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Experienced Doctor's</p>
                                <p class="fs-xs mb-0">Incubate extensive scenarios without top-line quality vectors.
                                    Authoritatively engage</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-auto  mb-30">
                        <div class="d-xl-flex text-center text-xl-start skill-box">
                            <span class="ripple-icon  hover-style2 align-self-start mb-20 mb-xl-0 mr-20"><i
                                    class="flaticon-healthcare"></i></span>
                            <div class="media-body">
                                <h2 class="mt-n2 mb-0 text-theme">200+</h2>
                                <p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Happy Patients</p>
                                <p class="fs-xs mb-0">Incubate extensive scenarios without top-line quality vectors.
                                    Authoritatively engage</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    Appointment Form Area 
    ==============================-->
    <section class="appointment-wrapper space-top space-md-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 mb-30">
                    <div class="about-content">
                        <span class="sec-subtitle text-theme h3 mb-2 mb-sm-0">Medical &amp; General Care!</span>
                        <h2 class="h1 mb-3">We’re Here For You</h2>
                        <div class="row">
                            <div class="col-xl-10 mb-md-2 pb-md-1">
                                <p class="mb-md-4">Proactively revolutionize granular customer service after pandemic
                                    internal or "organic" sources. Distinctively impact proactive human capital rather
                                    than client-centered benefits. </p>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <ul class="vs-list list-unstyled text-title">
                                    <li>99% success rate </li>
                                    <li>100% Confidential</li>
                                    <li>Affordable Fees</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-5">
                                <ul class="vs-list list-unstyled text-title">
                                    <li>Free Consultation</li>
                                    <li>Expert surveillance agents</li>
                                    <li>Over 50 years experience</li>
                                </ul>
                            </div>
                        </div>
                        <ul class="offer-counter counter-list list-unstyled" data-offer-date="12/08/2024">
                            <li>
                                <div class="day count-number ">00</div>
                                <span class="count-name">Days</span>
                            </li>
                            <li>
                                <div class="hour count-number ">00</div>
                                <span class="count-name">Hours</span>
                            </li>
                            <li>
                                <div class="minute count-number ">00</div>
                                <span class="count-name">Minutes</span>
                            </li>
                            <li>
                                <div class="seconds count-number ">00</div>
                                <span class="count-name">Seconds</span>
                            </li>
                        </ul>
                        <div class="vs-code-box mt-20">
                            Use Code: <span class="text-theme">Native</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-30 pt-30 pt-xl-0">
                    <form action="#" class="form-wrap1 bg-white wow fadeInUp" data-wow-delay="0.3s">
                        <div class="form-title-box bg-title">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <h2 class="h4 mb-1 text-white">Book An Appointment</h2>
                                    <p class="mb-0 text-white-light">Please Call Us To Ensure</p>
                                </div>
                                <div class="col-auto d-none d-sm-block">
                                    <a href="tel:0088123456789" class="ripple-icon style2"><i
                                            class="fas fa-phone"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-box">
                            <div class="row">
                                <div class="col-xl-6 form-group">
                                    <select class="form-select style2">
                                        <option hidden disabled selected>Select Services</option>
                                        <% services.forEach((service)=> { %>
                                            <option>
                                                <%= service.name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <select class="form-select style2">
                                        <option hidden disabled selected>Choose Doctor</option>
                                            <% teams.forEach((team)=> { %>
                                        <option><%= team.name %></option>
                                        <% }); %>
                               
                                    </select>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <input type="text" class="form-control  style2" placeholder="Your Name">
                                    <i class="fal small fa-user"></i>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <input type="email" class="form-control  style2" placeholder="Email Address">
                                    <i class="fal small fa-envelope"></i>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <input type="number" class="form-control  style2" placeholder="Your Phone">
                                    <i class="fal small fa-phone"></i>
                                </div>
                                <div class="col-xl-6 form-group">
                                    <input type="text" class="dateTime-pick form-control  style2"
                                        placeholder="Select Date & Time">
                                    <i class="fal small fa-calendar-alt"></i>
                                </div>
                                <div class="col-xl-12 text-center">
                                    <button type="submit" class="vs-btn style2">Make Appointment<i
                                            class="far fa-calendar-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
     Project Area
  ==============================-->
    <section class="vs-project-wrapper position-relative space-top pb-50" data-bg-color="#f9f9f9">
        <div class="project-shape" data-bg-src="assets/img/bg/bg-shape-7.jpg"></div>
        <div class="container z-index-common">
            <div class="row  text-center justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="section-title">
                        <span class="h3 text-theme sec-subtitle">Case Study</span>
                        <h2 class="h1 text-white">Latest Projects</h2>
                        <p class="text-white">Proactively revolutionize granular customer service after pandemic
                            internal or "organic" sources proactive human capital rather.</p>
                    </div>
                </div>
            </div>
            <div class="row vs-carousel wow fadeInUp" data-wow-delay="0.3s" data-slide-show="3">
                <div class="col-xl-4">
                    <div class="vs-project-box mb-30">
                        <div class="project-img">
                            <img src="assets/img/project/pro-1-1.jpg" alt="Project Image" class="w-100">
                        </div>
                        <div class="project-content">
                            <span class="project-cat fs-xs">New Surgeon</span>
                            <h4 class="project-name">Heart Surgery</h4>
                            <a href="assets/img/project/pro-1-1.jpg" class="icon-btn style4 popup-image"><i
                                    class="fal fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="vs-project-box mb-30">
                        <div class="project-img">
                            <img src="assets/img/project/pro-1-2.jpg" alt="Project Image" class="w-100">
                        </div>
                        <div class="project-content">
                            <span class="project-cat fs-xs">Development</span>
                            <h4 class="project-name">Neurosurgeon</h4>
                            <a href="assets/img/project/pro-1-2.jpg" class="icon-btn style4 popup-image"><i
                                    class="fal fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="vs-project-box mb-30">
                        <div class="project-img">
                            <img src="assets/img/project/pro-1-3.jpg" alt="Project Image" class="w-100">
                        </div>
                        <div class="project-content">
                            <span class="project-cat fs-xs">Top Ranked</span>
                            <h4 class="project-name">Ophthalmic </h4>
                            <a href="assets/img/project/pro-1-3.jpg" class="icon-btn style4 popup-image"><i
                                    class="fal fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="vs-project-box mb-30">
                        <div class="project-img">
                            <img src="assets/img/project/pro-1-4.jpg" alt="Project Image" class="w-100">
                        </div>
                        <div class="project-content">
                            <span class="project-cat fs-xs">New Special</span>
                            <h4 class="project-name">Oculoplastic</h4>
                            <a href="assets/img/project/pro-1-4.jpg" class="icon-btn style4 popup-image"><i
                                    class="fal fa-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div data-bg-src="/assets/img/bg/bg-shape-8.jpg">
        <!-- Middle Box Area -->
        <section class="vs-middle-box-wrapper space-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 mb-30 mb-lg-0">
                        <div class="vs-middle-box d-md-flex text-center text-md-start bg-theme">
                            <div class="media-icon mb-20 mb-md-0 mr-20">
                                <img src="assets/img/icons/icon-1-1.png" alt="Icon">
                            </div>
                            <div class="media-body align-self-center">
                                <span class="text-white fs-xs">Health Services</span>
                                <h4 class="text-white mb-0">Known the truth for Peace of Mind</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6">
                        <div class="vs-middle-box d-md-flex text-center text-md-start bg-title">
                            <div class="media-icon mb-20 mb-md-0 mr-20">
                                <img src="assets/img/icon/icon-1-1-001.png" alt="Icon">
                            </div>
                            <div class="media-body align-self-center">
                                <span class="text-theme fs-xs">Professinal Consult</span>
                                <h4 class="text-title mb-0 text-white">Medicine Suggestion for diseases</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==============================
    Testimonial Area
    ==============================-->
        <section class="testimonial-wrapper space-bottom">
            <div class="container">
                <div class="row  text-center justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="section-title">
                            <span class="h3 text-theme sec-subtitle">Testimonial</span>
                            <h2 class="h1 ">Patient Says</h2>
                            <p>Proactively revolutionize granular customer service after pandemic internal or "organic"
                                sources proactive human capital rather.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="row  testimonial-slider wow fadeInUp" data-wow-delay="0.3s" data-slide-show="2">
                            <% testimonials.forEach(testimonial=> { %>
                                <div class="col-xl-6">
                                    <div class="testimonial-box mb-30 bg-white">
                                        <div class="content">
                                            <p class="fs-md text-truncate"><%- testimonial.description %></p>
                                        </div>
                                        <div class="author-img">
                                            <div class="avater-line"></div>
                                            <div class="avater">
                                                <img src="/uploads/<%= testimonial.testimonialImage %>"
                                                    alt="Author Image">
                                            </div>
                                        </div>
                                        <div class="author-info">
                                            <div class="info">
                                                <h3 class="fs-20 name">
                                                    <%= testimonial.name %>
                                                </h3>
                                            </div>
                                            <div class="testi-rating">
                                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                                    <span style="width:100%">Rated <strong class="rating">5.00</strong>
                                                        out of 5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--==============================
    Blog Area
    ==============================-->
    <section class="vs-blog-wrapper space-top space-md-bottom">
        <div class="container">
            <div class="row  text-center justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="section-title">
                        <span class="h3 text-theme sec-subtitle">Blog Posts</span>
                        <h2 class="h1 ">Latest News</h2>
                        <p>Proactively revolutionize granular customer service after pandemic internal or "organic"
                            sources proactive human capital rather.</p>
                    </div>
                </div>
            </div>
            <div class="row vs-carousel wow fadeInUp" data-wow-delay="0.3s" data-slide-show="3" data-lg-slide-show="2">
            <% blogs.slice(0, 3).forEach(blog=> { %>
                <div class="col-xl-4">
                    <div class="vs-blog blog-card">
                        <div class="blog-img">
                            <img style="max-height: 350px;min-height: 350px;object-fit: cover; background-position: top;" src="/uploads/<%= blog.blogImage %>" alt="Blog Image" class="w-100">
                            <div class="blog-date">
                                <%= new Date(blog.createdAt).toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                                    day: 'numeric' }) %>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h3 class="blog-title h5 font-body lh-base">
                                <a href="/blog-details/<%= blog.id %>">
                                    <%= blog.heading %>
                                </a>
                            </h3>
                            <a href="/blog-details/<%= blog.id %>" class="link-btn">Read More<i class="far fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <% }); %>

            </div>
        </div>
    </section>

    <%- include('../layout/ui-footer.ejs') %>