<!doctype html>
<html lang="eng">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Medical and Health Care - Our Doctors</title>
    <meta name="author" content="Vecuro">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="NOINDEX,NOFOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&amp;family=Quicksand:wght@400;700&amp;family=Roboto:wght@400;500;700&amp;display=swap"
        rel="stylesheet">


    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/app.min.css"> -->
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <!-- Layerslider -->
    <link rel="stylesheet" href="/assets/css/layerslider.min.css">
    <!-- jQuery DatePicker -->
    <link rel="stylesheet" href="/assets/css/jquery.datetimepicker.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/assets/css/slick.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

    <!--==============================
         Preloader
      ==============================-->
    <div class="preloader  ">
        <button class="vs-btn preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <svg width="88px" height="108px" viewBox="0 0 54 64">
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path class="beat-loader"
                        d="M0.5,38.5 L16,38.5 L19,25.5 L24.5,57.5 L31.5,7.5 L37.5,46.5 L43,38.5 L53.5,38.5" id="Path-2"
                        stroke-width="2"></path>
                </g>
            </svg>
        </div>
    </div>
    <!--==============================
        Mobile Menu
      ============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area text-center">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="/"><img src="/uploads/<%= siteSettings[0].logo %>" alt="Medixi"></a>
            </div>
            <div class="vs-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                <li class="menu-item-has-children">
                    <a href="/adult-cardiac-disease">Adult Cardiac Disease</a>
                    <ul class="sub-menu">
                        <% adultCardiacServices.forEach(service=> { %>
                            <li><a href="/service-details/<%= service._id %>">
                                    <%= service.name %>
                                </a></li>
                            <% }); %>
                    </ul>
                </li>
                
                <li class="menu-item-has-children">
                    <a href="/pediatric-cardiac-disease">Pediatric Cardiac Disease</a>
                    <ul class="sub-menu">
                        <% pediatricCardiacServices.forEach(service=> { %>
                            <li><a href="/service-details/<%= service._id %>">
                                    <%= service.name %>
                                </a></li>
                            <% }); %>
                    </ul>
                </li>
                
                <li class="menu-item-has-children">
                    <a href="/cardiac-arrhythmia">Cardiac Arrhythmia</a>
                    <ul class="sub-menu">
                        <% cardiacArrhythmiaServices.forEach(service=> { %>
                            <li><a href="/service-details/<%= service._id %>">
                                    <%= service.name %>
                                </a></li>
                            <% }); %>
                    </ul>
                </li>
                
                <li class="menu-item-has-children">
                    <a href="/heart-failure">Heart Failure</a>
                    <ul class="sub-menu">
                        <% heartFailureServices.forEach(service=> { %>
                            <li><a href="/service-details/<%= service._id %>">
                                    <%= service.name %>
                                </a></li>
                            <% }); %>
                    </ul>
                </li>
    
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
            Header Area
        ==============================-->
    <header class="header-wrapper header-layout1">
        <!-- Header Top -->
        <div class="header-top bg-title py-2 d-none d-md-block">
            <div class="container container-style1 py-1">
                <div class="row justify-content-center justify-content-xl-between">
                    <div class="col-auto">
                        <ul class="header-top-info list-unstyled m-0">
                            <li><i class="far fa-envelope"></i><a href="<%= siteSettings[0].email %>"
                                    class="text-reset"><%= siteSettings[0].email %></a></li>
                            <li><i class="far fa-phone"></i><a href="tel:<%= siteSettings[0].number %>"
                                    class="text-reset"><%= siteSettings[0].number %></a></li>
                            <li><i class="far fa-clock"></i>Mon - Fri: 9:00 am - 6:00 pm</li>
                        </ul>
                    </div>
                    <div class="col-auto d-none d-xl-block">
                        <ul class="head-top-links text-end">
                            <li>
                                <ul class="header-social">
                                    <li>
                                        <a href="<%= siteSettings[0].facebook %>"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="<%= siteSettings[0].twitter %>"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="<%= siteSettings[0].linkedin %>"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sticky Active -->
        <div class="sticky-wrap">
            <div class="sticky-active">
                <!-- Header Main -->
                <div class="header-main">
                    <div class="container container-style1 position-relative">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto">
                                <div class="header1-logo py-2">
                                    <a href="/"><img src="/uploads/<%= siteSettings[0].logo %>" alt="Logo"></a>
                                </div>
                            </div>
                            <div class="col text-end text-lg-center">
                                <nav class="main-menu menu-style1 d-none d-lg-flex justify-content-end">
                                    <ul>
                                        <li>
                                            <a href="/">Home </a>
                                        </li>
                                        <li>
                                            <a href="/about">About</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="/adult-cardiac-disease">Adult Cardiac Disease</a>
                                            <ul class="sub-menu">
                                                <% adultCardiacServices.forEach(service=> { %>
                                                    <li><a href="/service-details/<%= service._id %>">
                                                            <%= service.name %>
                                                        </a></li>
                                                    <% }); %>
                                            </ul>
                                        </li>
                                        
                                        <li class="menu-item-has-children">
                                            <a href="/pediatric-cardiac-disease">Pediatric Cardiac Disease</a>
                                            <ul class="sub-menu">
                                                <% pediatricCardiacServices.forEach(service=> { %>
                                                    <li><a href="/service-details/<%= service._id %>">
                                                            <%= service.name %>
                                                        </a></li>
                                                    <% }); %>
                                            </ul>
                                        </li>
                                        
                                        <li class="menu-item-has-children">
                                            <a href="/cardiac-arrhythmia">Cardiac Arrhythmia</a>
                                            <ul class="sub-menu">
                                                <% cardiacArrhythmiaServices.forEach(service=> { %>
                                                    <li><a href="/service-details/<%= service._id %>">
                                                            <%= service.name %>
                                                        </a></li>
                                                    <% }); %>
                                            </ul>
                                        </li>
                                        
                                        <li class="menu-item-has-children">
                                            <a href="/heart-failure">Heart Failure</a>
                                            <ul class="sub-menu">
                                                <% heartFailureServices.forEach(service=> { %>
                                                    <li><a href="/service-details/<%= service._id %>">
                                                            <%= service.name %>
                                                        </a></li>
                                                    <% }); %>
                                            </ul>
                                        </li>

                                    </ul>
                                </nav>
                                <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fas fa-bars"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>